
.content {
    margin-bottom: 80px; /* Adjust the margin to create space for the footer */
}

.styled-table {
    border-collapse: collapse;
    margin: 20px;
    margin-left: 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 90vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.search-bar1 {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar1 input {
	height: 5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar1 button {
	margin: -4px;
	width: 5%;
	height: 3%;
    padding: 15px 10px;
    border: none;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-bar1 button i {
    font-size: 16px;
}
